@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-sans: 'Inter', sans-serif;
  --size: 72px;
  --small-text: 16px;
  --body: 18px;
  --footer-gray: #eeeeee;
  --hoverbkclr:  #000000;
  --hoverclr: #ffffff;
  --border-clr: #eeeeee;
  --nav-color: #242728;
  --logocolor: #F94E8C;
  --font-clr: #3C4143;
  --font-clr-02: #8a8a8a;
  --pixel: 8px;
  --outline-clr: #fff;
  --profile-nav-clr: #BCC1C3;
  --profile-nav-text-clr: #3C4143;
  --radius: 3px;
  --shadow-clr: #ccc;
  --shadow: 2px 2px 5px var(--shadow-clr);
  --general-clr: #fff;
  --button-clr: #0099ee;
}

html {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: var(--small-text);
  overflow: hidden;
}



.main-doc {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

p.adj {
  font-size: 12px;
  font-weight: 500;
  padding: 0 0.3rem;
  color: var(--font-clr);
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    font-size: var(--small-text);
  }
  body {
    color: white;
    background: black;
  }
}
